a {
  color: #1A3C40;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #6D8B74;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EFEAD8;
  color:#40514E;
}

.top-part {
  background-color: #6D8B74;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Mali', cursive;
  font-size: 5.625rem;
  color: #1A3C40;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1A3C40;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #1D5C63;
}

hr {
  border-style: dotted hidden hidden;
  width: 4%;
  border-width: 8px 0 0 0;
  color: #D0C9C0;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #5F7161;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  right: 60%;
}

.contact-me {
  margin: 50px auto;
}

.final-text {
  width: 40%;
  margin: 40px auto 40px;
}


.intro{
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 35%;
  top: 5%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 150px;
  text-align: left;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.cube-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.profile-img {
  width: 25%;
}

.copyright-text {
  color: #EFEAD8;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #6D8B74;
  background-image: -webkit-linear-gradient(top, #6D8B74, #5F7161);
  background-image: -moz-linear-gradient(top, #6D8B74, #5F7161);
  background-image: -ms-linear-gradient(top, #6D8B74, #5F7161);
  background-image: -o-linear-gradient(top, #6D8B74, #5F7161);
  background-image: linear-gradient(to bottom, #6D8B74, #5F7161);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5F7161;
  text-decoration: none;
}
